services:
  postgres:
    image: postgres:18
    container_name: rest_api_postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rest_api_db
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
